@model Proyecto_Auditoria.Models.Auditorium

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>¿Eliminar Auditoria?</h1>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Responsable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Responsable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Objetivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Objetivo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaInicial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaInicial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaFinal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaFinal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoActivoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoActivoNavigation.CodigoActivo)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CodigoAuditoria" />
        <div class="form-group">
                <input type="submit" value="Eliminar Auditoria" class="btn btn-primary" />
                <a class="btn btn-info btn-small" asp-area="" asp-controller="Auditoria" asp-action="Index">
                     <span>Regresar</span>
                </a>
        </div>
    </form>
</div>
