@model Proyecto_Auditoria.Models.CaracteristicaActivo
@{
    ViewBag.Titulo = "Crear Caracteristicas de Activo";
    Activo ActivoFiltrado = ViewData["Activo"] as Activo;
    IEnumerable<ListadoCaracteristicaTipoActivo> listaCaracteristicas = ViewData["ListadoCaracteristicas"] as IEnumerable<ListadoCaracteristicaTipoActivo>;
    IEnumerable<CaracteristicaActivo> listaCaracteristicaActivo = ViewData["ListadoCaracteristicasActivo"] as IEnumerable<CaracteristicaActivo>;
}

<div class="row">

	<div class="col-md-12">

        @if (@ViewBag.Mensaje != null)
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                @ViewBag.Mensaje
            </div>
        }        

        <div class="row margin_bottom_15">

            <div class="col-6">
                <label class="control-label">Codigo Activo</label>
                <span class="form-control">@ActivoFiltrado.CodigoActivo</span>
            </div>

            <div class="col-6">
                <label class="control-label">Descripcion Activo</label>
                <span class="form-control">@ActivoFiltrado.Descripcion</span>
            </div>

        </div>

        <div class="row margin_bottom_30">

            <div class="col-6">
                <label class="control-label">Tipo de Activo</label>
                <span class="form-control">@ActivoFiltrado.CodigoTipoActivoNavigation.Descripcion</span>
            </div>

            <div class="col-6">
                <label class="control-label">Fecha de adquisicion del Activo</label>
                <span class="form-control">@Convert.ToDateTime(@ActivoFiltrado.FechaAdquisicion).ToShortDateString()</span>
            </div>

        </div>

        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">

                <div class="row margin_bottom_15">

                    <div class="col-6">
                        <label asp-for="CodigoListadoCaracteristica" class="control-label">Nombre de la caracteristica</label>
                        <select asp-for="CodigoListadoCaracteristica" class="form-control">                    
                            @foreach(var tipo in listaCaracteristicas)
                            {
                                <option value=@tipo.CodigoListadoCaracteristica>@tipo.DescripcionCaracteristica</option>
                            }
                        </select>
                    </div>

                    <div class="col-6">
                        <label asp-for="DescripcionCaracteristica" class="control-label">Descripcion Caracteristica</label>
                        <input asp-for="DescripcionCaracteristica" class="form-control" />
                    </div>                    
                </div>
                
            </div>
            <div class="form-group">
                <input asp-for="CodigoActivo" class="form-control" hidden value="@ActivoFiltrado.CodigoActivo" />
                <input type="submit" value="Crear Caracteristica" class="btn btn-primary" />
                <a class="btn btn-info btn-small" asp-area="" asp-controller="Caracteristicas" asp-action="Index" asp-route-id="@ActivoFiltrado.CodigoTipoActivoNavigation.Descripcion">
                     <span>Regresar</span>
                </a>
            </div>            
        </form>


        <div class="table-responsive-sm">
            <table class="table">
                <thead>
                    <tr>
                        <th>Nombre Caracteristica</th>
                        <th>Descripcion Caracteristica</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in listaCaracteristicaActivo)
                    {
                        <tr>
                            <td>@item.CodigoListadoCaracteristicaNavigation.DescripcionCaracteristica</td>
                            <td>@item.DescripcionCaracteristica</td>
                        </tr>   
                    }
                        
                </tbody>
            </table>
        </div>

    </div>

</div>